
<div class="container">

      <!-- Gallery __-->
      <div class="gallery masonry-gallery">
  
{% for image in page.images %}  		

          <figure class="gallery-item">
              <header class='gallery-icon'>

              <a href="{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
              <img class="rounded" src="{{ site.baseurl }}{{ image.image_path }}"></a>
                                
              </header>	
              <figcaption class='gallery-caption'>
                  <div class="entry-summary">
                      <h3>{{image.caption}}</h3>
                      <p>{{image.copyright}}</p>
                  </div>
              </figcaption>
          </figure>
          
{% endfor %}

    </div>

</div>

<!-- jQuery -->    

<script src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"></script>

<!-- include Masonry -->
<!-- <script src="{{ site.baseurl }}/assets/js/isotope.pkgd.js"></script>  -->
<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script> 
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.js"></script>

<!--
<script src="{{ site.baseurl }}/assets/js/retina.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.mousewheel.min.js"></script>
<script src="{{ site.baseurl}}/assets/js/jquery.tinycarousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.lazylinepainter.min.js"></script> 
-->

<script src="{{ site.baseurl }}/assets/js/gallery.js"></script>

<script type="text/javascript">
    $(document).ready(function($) {
      $('a.popup').magnificPopup({
        type: 'image',
    gallery:{
       enabled:true,
       navigateByImgClick: true,
       preload: [0,1] // Will preload 0 - before current, and 1 after the current image
     },
    image: {
       titleSrc: function(item) {
            return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
          }
      }
        // other options
    });
  });
  </script>