
<nav class="navbar navbar-expand-md static-top" id="nav-la">

    <div class="container-fluid">

        <a class="navbar-brand font-weight-bold text-light-la"  href="/">
            <img class="logo-la" src="{{ site.baseurl }}/assets/images/logo.png" alt=""/>
            <span  class="text-color-1-la font-weight-bold">L</span>uca <span class="text-color-2-la">PH</span></a>

        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold text-light-la rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
                    
            <ul class="navbar-nav ml-auto">

                {% for nav_item in site.data.navigation %}

                    {% if page.url == nav_item.link %} 
                    <li class="nav-item nav-item-la nav-item-spacing-la active"><a class="text-color-1-la text-uppercase font-weight-bold" href="{{ nav_item.link }}">{{ nav_item.name }}</a></li>
                    {% else %}
                    <li class="nav-item nav-item-la nav-item-spacing-la"><a class="text-light-la text-uppercase font-weight-bold" href="{{ nav_item.link }}">{{ nav_item.name }}</a></li>
                    {% endif %}

                {% endfor %}

            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>

</nav>