---
title: Portfolio
layout: default
---

<div class="container-fluid my-bg-white mb-0 py-5" id="portfolio">

    <h2 class="page-section-heading text-center text-secondary text-uppercase mb-0">Portfolio</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-folder"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="card-columns text-center">

        {% assign projects = site.portfolio | sort: 'priority' | reverse %}
        {% for  project in projects %}
        {% unless project.hidden %}

        <div class="card my-card border-3 border-primary text-left my-3">

            <div class="card-header text-center">
                <p class="card-text"> {{ project.tag }} </p>
            </div>

            <div class="card-body">     

                <div class="card border-0">
                    <img class="card-img" src="{{ project.image }}" alt="">
                </div>

                <h4 class="card-title text-center mb-0 pt-3">{{ project.name }}</h4>

                <div class="">              
                    <p class="card-text"> {{ project.content }} </p>
                </div>

            </div>

            <div class="card-footer text-center">

                {% if project.github %}
                    <button type="button" class="btn my-bg-dark">
                        <a class="text-white" href="{{ project.github }}">
                            <i class="fab fa-github"></i> GitHub</a>
                    </button>
                {% endif %}
                



            </div>
        </div>
        {% endunless %}

        {% endfor %}

    </div>

</div>
