footer {
  /* margin: -8% 0 0px; */
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

footer .list-social {
margin: 0.5rem;
}

footer .list-social a {
  background-color: transparent;
  text-decoration: none; 
  text-shadow: none;
  padding: 0.5rem;

}

#footer {  -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s; }
