<!-- Footer-->
<footer class="footer text-center my-text-foreground my-bg-dark mb-0">
    <div class="container-fluid py-5">
        <div class="row">
            <!-- About me -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">About me</h4>
                <img class="avatar-footer" src="assets/images/avatar.png" alt="" />
                
                <p class="m-0 py-2 text-uppercase">{{ site.title}}</p>
                <p class="m-0">{{ site.description}}</p>

                
            </div>

            <!-- Contacts -->

            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contacts</h4>
              
                <p class="m-0 pb-3">You can send me an email at:</p>
                <div class="pb-4">
                   <a href="mailto:{{ site.email }}" class="medium-link">{{ site.email }}</a>
                  </div>
                        
                {% include socials.html %}    

            </div>
            <!-- Navigation -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Navigation</h4>
                <ul class="navbar-nav ml-auto">

                {% for item in site.data.navigation %}
                <li class="nav-item py-2">
                    <a class="my-text-foreground" href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>

                
                
            </div>
        </div>
    </div>
<!-- Copyright Section-->
<div class="copyright py-2 text-center text-white my-bg-black">
    <div class="container-fluid"><small>Copyright © Luca Antognetti {{ 'now' | date: "%Y" }}</small></div>
    </div>
</footer>
