
<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark " id="myNav"> -->
<nav class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-dark " id="myNav">

  <div class="container-fluid">

    <div class="mr-auto text-white">

      <a class="navbar-brand"  href="/"> 
        <img class="my-la mr-2" src="assets/images/LA.png" alt=""/>
        <span  class="my-text-green">L</span>uca <span class="my-text-blue">A</span>ntognetti</a>
    
      </div>

      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold my-bg-green text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
      
      <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          {% for item in site.data.navigation %}
          <li class="nav-item mx-0 mx-lg-1 btn my-btn {% if page.url == item.link %} btn-primary rounded {% endif %}">
              <a class="nav-link py-3 px-0 px-lg-3" href="{{ item.link }}">{{ item.name }}</a>
          </li>
          {% endfor %}

        </ul>
      </div>
  </div>

</nav>