
<a class="btn btn-outline-light btn-social mx-1" href="https://linkedin.com/in/luca-ant"><i class="fab fa-fw fa-linkedin-in"></i></a>
<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/luca-ant"><i class="fab fa-fw fa-github"></i></a>
<a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/luca_antognetti"><i class="fab fa-fw fa-twitter"></i></a>
<!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> -->