<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/gallery.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/page-header.css">
    
</head>

<!-- <body class="body-padded-la"> -->
<body class="bg-dark-la">

    {% include navigation.html %}

    {% include scroll_to_top.html %}  

    {{ content }}

    {% include footer.html %}


</body>

</html>
