---
layout: default
---

<header class="intro-header" style="background-image: url('{% if page.header-img %}{{ page.header-img }}{% endif %}')">
    <div class="container">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.description %}{{ page.description }}{% endif %}</span>
                </div>
    </div>
</header>

{{ content }}

